<h1>Admin</h1>
<form action="/api/admin/addAdmin" method="POST">
  <div>
    <h3>Add Admin</h3>
    <label for="username">Username</label>
    <input type="text" name="userId" placeholder="Enter User ID" required />
  </div>
  <button type="submit">Add Admin</button>
</form>

<a href="/login">Login</a>
