<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      body {
        margin: 0;
        padding: 0;
        font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
        background-color: #36393f; /* Discord dark background */
        color: #fff;
        height: 100vh;
      }

      #message-container {
        padding-bottom: 4rem;
        overflow-y: auto;
        height: calc(100% - 4rem);
      }

      #form {
        background: #40444b; /* Slightly lighter background for the form */
        padding: 0.5rem;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
        box-sizing: border-box;
      }

      #input {
        border: none;
        padding: 10px;
        flex-grow: 1;
        border-radius: 18px;
        margin: 0 0.5rem;
        background-color: #202225; /* Discord input field color */
        color: white;
      }

      #input:focus {
        outline: none;
      }

      #form > button {
        background: #5865f2; /* Discord's brand color for buttons */
        border: none;
        padding: 0.5rem 1rem;
        border-radius: 3px;
        outline: none;
        color: #fff;
        cursor: pointer;
      }

      #form > button:hover {
        background-color: #4752c4;
      }

      #messages {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }

      #messages > li {
        padding: 0.5rem 1rem;
        word-wrap: break-word;
      }

      .message-sender {
        font-weight: bold;
        color: #7289da; /* Color to highlight the sender */
      }

      /* For odd messages, you can use a slightly different background */
      #messages > li:nth-child(odd) {
        background: #32353b;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <ul id="messages">
        <!-- Load message history -->
        <span class="messege-sender">
          <% for(var i=0; i < channel.messages.length; i++) { %>
        </span>
        <li>
          <%= `${channel.messages[i].sender}: ${channel.messages[i].message}` %>
        </li>
        <% } %>
      </ul>
    </div>
    <form id="form" action="">
      <input id="input" autocomplete="off" /><button>Send</button>
    </form>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      // Create socket with UID
      var socket = io({
        query: {
          room: "<%= channel.id %>",
        },
      });

      var form = document.getElementById("form");
      var input = document.getElementById("input");

      form.addEventListener("submit", function (e) {
        e.preventDefault();
        if (input.value) {
          socket.emit("chat message", {
            msg: input.value,
            username: "<%= username %>",
          });
          input.value = "";
        }
      });

      socket.on("chat message", function ({ msg, username }) {
        var item = document.createElement("li");
        item.textContent = `${username}: ${msg}`;
        messages.appendChild(item);
        window.scrollTo(0, document.body.scrollHeight);
      });
    </script>
  </body>
</html>
