<h1>Login</h1>

<form action="/api/user/login" method="POST">
  <div>
    <!-- Email -->
    <label for="email">Email</label>
    <input type="text" id="email" name="email" required />

    <!-- Password -->
    <label for="password">Password</label>
    <input type="text" id="password" name="password" required />
  </div>
  <button type="submit">Login</button>
</form>

<a href="/register">Register</a>
